services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: {{ db_user }}
      POSTGRES_PASSWORD: {{ db_password }}
      POSTGRES_DB: {{ db_name }}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - data-network

  backend:
    image: zudin116/tolkportal_backend:{{ image_tag }}
    restart: always
    expose:
      - "1337"
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: {{ db_name }}
      DATABASE_USERNAME: {{ db_user }}
      DATABASE_PASSWORD: {{ db_password }}
      NODE_ENV: {{ node_env }}
      VIRTUAL_HOST: api.vbasin.org
      LETSENCRYPT_HOST: api.vbasin.org
      LETSENCRYPT_EMAIL: valentin@vbasin.org
    depends_on:
      - db
    networks:
      - data-network
      - app-network

  frontend:
    image: zudin116/tolkportal_frontend:{{ image_tag }}
    restart: always
    expose:
      - "80"
    environment:
      VIRTUAL_HOST: tolkportal.vbasin.org
      LETSENCRYPT_HOST: tolkportal.vbasin.org
      LETSENCRYPT_EMAIL: valentin@vbasin.org
    networks:
      - app-network

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx-certs:/etc/nginx/certs
      - nginx-vhost:/etc/nginx/vhost.d
      - nginx-html:/usr/share/nginx/html
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: acme-companion
    depends_on:
      - nginx-proxy
    volumes_from:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
    environment:
      DEFAULT_EMAIL: valentin@vbasin.org
    networks:
      - app-network

volumes:
  db-data:
  nginx-certs:
  nginx-vhost:
  nginx-html:
  acme:

networks:
  data-network:
  app-network:
