services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: {{ db_user }}
      POSTGRES_PASSWORD: {{ db_password }}
      POSTGRES_DB: {{ db_name }}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - data-network

  backup:
    image: zudin116/tolkportal_backup:{{ image_tag }}
    restart: always
    environment:
      DB_HOST: db
      DB_NAME: {{ db_name }}
      PGPASSWORD: {{ db_password }}
      DB_USER: {{ db_user }}
      S3_BUCKET: {{ aws_backup_bucket }}
      AWS_ACCESS_KEY_ID: {{ aws_access_key_backup }}
      AWS_SECRET_ACCESS_KEY: {{ aws_secret_key_backup }}
    depends_on:
      - db
    networks:
      - data-network

  backend:
    image: zudin116/tolkportal_backend:{{ image_tag }}
    restart: always
    expose:
      - "1337"
    volumes:
      - ./data/uploads:/app/public/uploads
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_NAME: {{ db_name }}
      DATABASE_USERNAME: {{ db_user }}
      DATABASE_PASSWORD: {{ db_password }}
      NODE_ENV: {{ node_env }}
      VIRTUAL_HOST: {{ api_subdomain_name ~ "." ~ domain_name }}
      LETSENCRYPT_HOST: {{ api_subdomain_name ~ "." ~ domain_name }}
      LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
      FRONTEND_URL: https://{{ domain_name if subdomain_name == "@" else subdomain_name ~ "." ~ domain_name }}
      APP_KEYS: {{ app_keys }}
      API_TOKEN_SALT: {{ api_token_salt }}
      ADMIN_JWT_SECRET: {{ admin_jwt_secret }}
      TRANSFER_TOKEN_SALT: {{ transfer_token_salt }}
      JWT_SECRET: {{ jwt_secret }}

    depends_on:
      - db
    networks:
      - data-network
      - app-network

  frontend:
    image: zudin116/tolkportal_frontend:{{ image_tag }}
    restart: always
    expose:
      - "80"
    environment:
      VIRTUAL_HOST: {{ domain_name if subdomain_name == "@" else subdomain_name ~ "." ~ domain_name }}
      VIRTUAL_PORT: 80
      LETSENCRYPT_HOST: {{ domain_name if subdomain_name == "@" else subdomain_name ~ "." ~ domain_name }}
      LETSENCRYPT_EMAIL: {{ letsencrypt_email }}
    networks:
      - app-network

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx-certs:/etc/nginx/certs
      - ./nginx/vhost.d:/etc/nginx/vhost.d:ro
      - nginx-html:/usr/share/nginx/html
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: acme-companion
    depends_on:
      - nginx-proxy
    volumes_from:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
    environment:
      DEFAULT_EMAIL: {{ letsencrypt_email }}
    networks:
      - app-network

volumes:
  db-data:
  nginx-certs:
  nginx-html:
  acme:

networks:
  data-network:
  app-network:
